{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}">


<div class="container-fluid">
<h1>Profile</h1>
    <p>Username: {{ user.username }}</p>
    <h1>My total words are : {{total_words}}  {% if new_added == "0" %}{% else %}; {{new_added}} are newly added {% endif %}</h1>
    {% if words_list %}
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Text<button class="sort-btn" data-sort="word">Sort A-Z</button></th>
              <th>Translation<button class="sort-btn" data-sort="translation">Sort A-Z</button></th>
              <th>Date Added<button class="sort-btn" data-sort="date_added">Sort Oldest First</button></th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            {% for word in words_list %}
              <tr id="word-{{ word.id }}">
                <td class="word-text">{{ word.word }}</td>
                <td class="word-translation">{{ word.translation }}</td>
                <td>{{ word.date_added.date }}</td>
                <td>
                  <button type="button" class="edit-word-btn btn btn-primary" data-toggle="modal" data-target="#edit-word-modal" data-word-id="{{ word.id }}" data-word-text="{{ word.word }}" data-word-translation="{{ word.translation }}">Edit</button>

                </td>
                <td>
                  <form id="delete-word-form-{{ word.id }}" method="POST" action="{% url 'neword:delete_word' word.id %}">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                  </form>
                </td>

              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <p>Wow! You do not have any words!</p>
    {% endif %}

  <!-- Edit Word Modal -->
<div class="modal fade" id="edit-word-modal" tabindex="-1" role="dialog" aria-labelledby="edit-word-modal-label">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="edit-word-modal-label">Edit Word</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="edit-word-form" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="id_word">Word</label>
            <input type="text" class="form-control" id="id_word" placeholder="Enter word" name="word" required>
          </div>
          <div class="form-group">
            <label for="id_translation">Translation</label>
            <input type="text" class="form-control" id="id_translation" placeholder="Enter translation" name="translation" required>
          </div>
          <div class="form-group text-right">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

</div>

<script type="text/javascript" src="{% static 'profile.js' %}"></script>

{% endblock %}
